@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 96% 99%;
    --foreground: 228 10% 20%;
    --card: 228 96% 99%;
    --card-foreground: 228 10% 20%;
    --popover: 228 96% 99%;
    --popover-foreground: 228 10% 20%;
    --primary: 236 65% 55%;
    --primary-foreground: 228 80% 98%;
    --secondary: 228 45% 96%;
    --secondary-foreground: 228 10% 20%;
    --muted: 228 45% 96%;
    --muted-foreground: 228 10% 50%;
    --accent: 259 70% 66%;
    --accent-foreground: 228 80% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 35% 90%;
    --input: 228 35% 90%;
    --ring: 236 65% 55%;
    --chart-1: 236 76% 41%;
    --chart-2: 173 58% 39%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 259 83% 53%;
    --radius: 0.5rem;
    --like: 140 60% 40%;
    --dislike: 0 80% 60%;
  }

  .dark {
    --background: 228 10% 12%;
    --foreground: 228 20% 90%;
    --card: 228 10% 12%;
    --card-foreground: 228 20% 90%;
    --popover: 228 10% 12%;
    --popover-foreground: 228 20% 90%;
    --primary: 236 65% 65%;
    --primary-foreground: 228 10% 10%;
    --secondary: 228 10% 20%;
    --secondary-foreground: 228 20% 90%;
    --muted: 228 10% 20%;
    --muted-foreground: 228 10% 60%;
    --accent: 259 70% 70%;
    --accent-foreground: 228 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 10% 25%;
    --input: 228 10% 25%;
    --ring: 236 65% 65%;
    --chart-1: 236 70% 50%;
    --chart-2: 173 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --like: 140 50% 50%;
    --dislike: 0 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
